.three{
       display: flex;
}
.show-all-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
}
.each-three{
    border: 1px solid gray;
    margin: 30px;
    text-align: center;
}