.home-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 120px;
    padding-right: 70px;
}
.image-container img{
    border-radius: 5px;
}
.red-text{
    color: crimson;
}
.text-container button{
    padding: 18px 25px;
    background-image: linear-gradient(45deg, deeppink,orange);
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.text-container button a{text-decoration: none;  color: white;
}
.redirect{
    text-decoration: none;
    color: white;
}
.show-all-reviews{
    padding: 18px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-image: linear-gradient(45deg, deeppink,orange);
    margin-left: auto;
    margin-right: auto;
}